<h1>Control your LED</h1>
<p>yay</p>
<image id="img" src="/static/off_bulb.png" width="100" height=auto></image>
<div>
    <button id="ON">Turn On</button>
    <button id="OFF">Turn Off</button>
</div>
<script>
    const ON = document.getElementById("ON");
    const OFF = document.getElementById("OFF");
    const img = document.getElementById("img");

    ON.addEventListener("click",()=>{TURN("on");});
    OFF.addEventListener("click",()=>{TURN("off");});
    function TURN(mode){
        if (mode==="on"){
            fetch('/led/on');
            img.src="/static/on_bulb.png"
        }
        else{
            fetch('/led/off');
            img.src="/static/off_bulb.png"
        }
    }
</script>