<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Click for increment</h1>
    <h1 id="counter">0</h1>
    <button id = "cbutton" style="background: #5c5cff; border-radius: 5px; color: aliceblue; border: none; padding: 6px">수 증가</button>
    <button id = "sbutton" style="background: #3d852f; border-radius: 5px; color: aliceblue; border: none; padding: 6px">전송</button>

    <script src="../static/index.js"></script>
</body>
</html>